<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>WhatsApp</title>
</head>
<body>
  
  <div id="app" class="container" >

    <aside class="left">
      <div class="currentUserBar">
        <div class="currentUser">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="">
          </div>
          <div class="avatarInfos">
            <span>Ajay Naruka</span>
          </div>
          
        </div>
        <div class="currentUserIcons">
          <ul>
            <li><i class="lightgrey fas fa-circle-notch"></i></li>
            <li>
              <i class="lightgrey fas fa-comment-alt" @click="showNewContact()"></i>
              <div 
                v-show='newMessageDiv'
                class="newMessageForm">
                <input type="text" placeholder="Nuovo contatto" v-model='toAddNewContactName' @keyup.enter="createNewContact()">
              </div>
            </li>
            <li><i class="lightgrey fas fa-ellipsis-v"></i></li>
          </ul>
        </div>
      </div>
      <div class="notificationAlert">
        <div class="avatar">
          <i class="bell far fa-bell-slash"></i>
        </div>
        <div class="avatarInfos">
          <span>Ricevi Notifiche di nuovi messaggi</span>
          <span class="accesso"><a href="#">Attiva notifiche desktop</a></span>
        </div>
      </div>
      <div class="inputArea">
        <div class="inputDiv">
          <div class="searchIcon f-left"><i class="lightgrey fas fa-search"></i></div>
          <div class="input f-left"><input type="text" v-model='filterChat'  @keyup="filterUserList()" placeholder="Cerca o Inizia una nuova chat"></div>
        </div>
      </div>


      <div class="userList">
        <div 
        v-for="(contact,index) in contacts"
        @click="attivaChat(index)"
        v-show='filterContacts[index]'
        class="userChatBox">
          <div class="avatar">
            <img :src="image(index)" alt="">
          </div>
          <div class="avatarInfos">
            <span>{{contact.name}}</span>
          </div>
        </div>
        
        
      </div>
    </aside>


    <!-- CONTENT -->
    <main class="right">
      <header>
        <div class="chattingUser">
          <div class="avatar">
            <img :src="image(activeChatUser)" alt="">
          </div>
          <div class="avatarInfos">
            <span>{{contacts[activeChatUser].name}}</span>
            <span class="accesso">Ultimo accesso oggi alle</span>
          </div>
        </div>
        
        <div class="currentUserIcons">
          <ul>
            <li>
              <i class="lightgrey fas fa-search" @click="showSearchDiv('icon')"></i>
              <div 
                v-show='searchMessageDiv'
                class="findMessage">
                <input type="text" placeholder="Cerca messaggio" v-model='toSearchMessage' @keyup.enter='searchMessage()'>
                <a :href="anchorToMoveOn"><i class="fas fa-angle-down" @click='nextMatchtoLook()'></i></a>
                <a :href="anchorToMoveOn"><i class="fas fa-angle-up" @click='prevMatchtoLook()'></i></a>
              </div>
            </li>
            <li><i class="lightgrey fas fa-paperclip"></i></li>
            <li><i class="lightgrey fas fa-ellipsis-v"></i></li>
          </ul>
        </div>

      </header>

      <section>
        <!-- i messaggi sono contenuti in un loro proprio container -->
        <div class="chat-area" @click="showSearchDiv('area')">
          <div 
            v-for="(message,index) in contacts[activeChatUser].messages"
            class="message-row"
            >
            <!-- sistemare => crea loop infinito con creazione id -->
              <div 
              :id="giveId(index)" 
              :class="isSent(index)">
                {{message.text}}
                <i class="lightgrey fas fa-angle-down"></i>
                <span class="time">{{message.date}}</span>
              </div>
          </div>
        </div>
        
      </section>
      
      <footer>
        <div class="emojis"><i class="darkgrey far fa-smile"></i></div>
        <div class="textMessageInput"><input type="text" v-model='userWritingMessage' @keyup.enter="inviaMessaggio()" placeholder="Scrivi un messaggio"></div>
        <div class="voiceMessage"><i class="darkgrey fas fa-microphone"></i></div>
        <!-- <a href="#anchor_3">CLICK</a> -->
      </footer>
    </main>

  </div>

  <script src="main.js"></script>
</body>
</html>